.container {
    text-align: center;
    margin-top: 50px;
}

body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: #999
}

img {

width: 150px ;
height: 150px ;
border-radius: 50%;
margin: 20px;
}

h2 {
    color: #ccc
}

p {
    color: #fff;
    margin-bottom: 10px;
}
