.header {
    text-align: center;
    position: absolute;
    top: 0%;
    left: 5%;
}

body {
    background-color: #dfdfdf;
}

.bodyaparte {
    background-color: #050505;
}

h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #999;
}

.fotoperfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

H5, h6 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ccc;
}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #dadada;
    margin-bottom: 5px;
}

.container {
    background-color: #050505;
    padding: 20px;
    width: 225px;
    height: 1800px;
    position: absolute;
    top: 0%;
    left: 0%;
}

#card1 {
    display: none;
    background-color: #000000;
    position: absolute;
    top: 50px;
    left: 240px;
    padding: 20px;
    border-radius: 20px;
    width: 584px;
    height: 700px;
}

#card2 {
    display: none;
    background-color: #000000;
    position: absolute;
    top: 50px;
    left: 240px;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    height: 275px;
}
#card3 {
    display: none;
    background-color: #000000;
    position: absolute;
    top: 50px;
    left: 240px;
    padding: 20px;
    border-radius: 20px;
    width: 160px;
    height: 470px;
}

#cardConstruct {
    display: none;
    background-color: #000000;
    position: absolute;
    top: 50px;
    left: 750px;
    padding: 20px;
    border-radius: 20px;
    width: 500px;
    height: 1750px;
}

.btnStandard {
    position: relative;
    top: 7px;
    left: 240px;
}

.btnCard {
    position: relative
}

table {
    margin: 0 auto;
  }

  .c2 {
    position: relative;
    left: 175px;
    top: -1650px;
    width: 100px;
    height: 100px;
}
  .img-c2 {
    width: 462px;
    height: 322px;
}