.header {
    text-align: center;
    position:absolute; 
    top: 0%;
    left: 5%;

}

body{
    background-color: #dfdfdf;
}

h1{
    color: #999
}

img {

width: 150px ;
height: 150px ;
border-radius: 50%;
margin: 20px;
}

h2 {
    color: #ccc
}

p {
    color: #dadada;
    margin-bottom: 5px;
}

.container{
    background-color: #050505;
    padding: 20px;
    width: 200px;
    height: 1000px;
    position:absolute; 
    top: 0%;
    left: 0%;
}

.campo{
    display: none;
    background-color: #000000;
    position:absolute; 
    top: 5%;
    left: 15%;
    padding: 20px;
    border-radius: 20px;
    width: 584px;
    height: 350px;
}

button{
    position:absolute; 
    top: 48%;
    left: 44%;
}